body {
    display: flex;
    flex-direction: column;

    background-color: rgb(33, 33, 33);

    justify-content: center;
    align-items: center;

    color: white;
}

#container {
    display: grid;

    grid-template-columns: 24% 24% 24% 24%;
    column-gap: 1.333%;

    grid-template-rows: 19% 19% 19% 19% 19%;
    row-gap: 1.25%;

    width: 35vw;
    height: 70vh;
}

#containerScreen {
    grid-area: 1 / 1 / 1 / 5;
}

#screen {
    overflow: scroll;

    width: 100vw;
    height: font-size;

    font-size: clamp(0.25rem, 0.5rem + 5vw, 12.5rem);
    text-align: center;
}

button {
    background-color: crimson;
    color: black;

    font-size: clamp(0.25rem, 0.125rem + 3.75vw, 12.5rem);
}

.buttonNum {
    background-color: darkgray;
}

.buttonOp {
    background-color: goldenrod;
}

#buttonDecimal {
    background-color: lavender;
}

.setRounding {
    font-size: clamp(0.25rem, 0.125rem + 1.75vw, 12.5rem);
}